---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>IETF YANG implementation coverage</title>
</head>
<body>

<h1>IETF YANG implementation coverage</h1>
<ul>
  {% for file in site.static_files %}
    {% if file.path contains '/ietf-yang-coverage/' %}
      {% unless file.name == 'index.html' %}
        <li>
          <a href="{{ file.path | relative_url }}">
            {{ file.name }}
          </a>
        </li>
      {% endunless %}
    {% endif %}
  {% endfor %}
</ul>

</body>
</html>
